{% extends 'base.html' %}

{% block title %}{{ wave.wave_name }}{% endblock %}

{% block page_title %}{{ wave.wave_name }}{% endblock %}

{% block content %}

<div class="row align-items-start">
    <div class="col">
        <h2>Bottles</h2>
        {% for pulse_check in pulse_checks %}
            <div class="row">                
                {{ pulse_check.message }}
            </div>
        {% empty %}
            <div class="row">
                    Waiting for Godot (i.e. your pulse check messages).
            </div>
        {% endfor %}
    </div>
    <div class="col">
        {{qr | safe}}
    </div>
</div>

<div class="row align-items-start button-wrapper"> 
    
    <div class="col">
        <button id="pulse_check_button">Enable Pulse Check </button>
        <button id="end_pulse_check_button">End Pulse Check </button>
    </div>

    <div class="col">
        <button id="bottle_exchange_button">Enable Bottle Exchange</button>
        <button id="end_bottle_exchange_button">End Bottle Exchange </button>
    </div>
    

    <style>
    {% if wave.input_type == INPUT_TYPE.PULSE_CHECK %}
        #pulse_check_button {
            display: none;
        }
    {% else %}
        #end_pulse_check_button {
            display: none;
        }
    {% endif %}

    {% if wave.input_type == INPUT_TYPE.PULSE_CHECK %}
        #bottle_exchange_button {
            display: none;
        }
    {% else %}
        #end_bottle_exchange_button {
            display: none;
        }
    {% endif %}
    </style>
   
</div>

<script>
    const WAVE_ID = '{{ wave.id }}';
    const BOTTLE_EXCHANGE = 1;
    const PULSE_CHECK = 2;
    const API_URL = '{{ API_URL }}';
    async function changeWaveStatus(input_type, wave_id) {
        try {
            const response = await fetch(API_URL, {
                method: "POST",
                body: JSON.stringify({ 
                    input_type: input_type, 
                    wave_id: wave_id
                }),
                headers: {
                    "Content-Type": "application/json",
                },
            });
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }
        } catch (error) {
            console.error(error.message);
        }
    }

    const pulse_check_button = document.getElementById('pulse_check_button');
    const end_pulse_check_button = document.getElementById('end_pulse_check_button');
    const bottle_exchange_button = document.getElementById('bottle_exchange_button');
    const end_bottle_exchange_button = document.getElementById('end_bottle_exchange_button');

    pulse_check_button.addEventListener("click", (event) => {
        changeWaveStatus(PULSE_CHECK, WAVE_ID);
        pulse_check_button.style.display = 'none';
        end_pulse_check_button.style.display = 'block';
    });
    end_pulse_check_button.addEventListener("click", (event) => {
        changeWaveStatus(0, WAVE_ID);
        end_pulse_check_button.style.display = 'none';
        pulse_check_button.style.display = 'block';
    });


    bottle_exchange_button.addEventListener("click", (event) => {
        changeWaveStatus(BOTTLE_EXCHANGE, WAVE_ID);
        bottle_exchange_button.style.display = 'none';
        end_bottle_exchange_button.style.display = 'block';
    });
    end_bottle_exchange_button.addEventListener("click", (event) => {
        changeWaveStatus(0, WAVE_ID);
        end_bottle_exchange_button.style.display = 'none';
        bottle_exchange_button.style.display = 'block';
    });

</script>
{% endblock %}