<aside class="sidebar">

    <div class="sidebar-header">
        <div class="logo">
            <i class="bi bi-mortarboard-fill"></i>
        </div>

        <div>
            <h5>Training</h5>
            <small>Management System</small>
        </div>
    </div>

    <div class="sidebar-menu">

        <p class="menu-title">MAIN</p>

        <a href="{% url 'training_self' %}" class="menu-item">
            <i class="bi bi-calendar-event"></i>
            <span>Your Training</span>
        </a>

        {% if user.is_staff %}
            <a href="{% url 'training_employees' %}" class="menu-item">
                <i class="bi bi-calendar-event"></i>
                <span>Employee Training</span>
            </a>
        {% endif %}

        <p class="menu-title">COMMUNICATION</p>

        <a href="{% url 'inbox' %}" class="menu-item">
            <i class="bi bi-envelope"></i>
            <span>Inbox</span>

            {% if unread_messages %}
                <span class="badge bg-danger">
                    {{ unread_messages }}
                </span>
            {% endif %}
        </a>

        <a href="{% url 'outbox' %}" class="menu-item">
            <i class="bi bi-envelope"></i>
            <span>Outbox</span>
        </a>

        <a href="{% url 'archive' %}" class="menu-item">
            <i class="bi bi-archive"></i>
            <span>Archived</span>
        </a>

        {% if user.is_staff %}
            <p class="menu-title">ADMINISTRATION</p>

            <a href="/admin/" class="menu-item">
                <i class="bi bi-gear"></i>
                <span>Administration</span>
            </a>
        {% endif %}

    </div>

</aside>